<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= htmlWebpackPlugin.options.title || ''%></title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <% if ( htmlWebpackPlugin.files.favicon) { %>
	  	<link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
	  <% } %>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' type='text/css'>
    </head>
	<body class="landing">
		<div id="app"></div>
	</body>
</html>
